// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    h1 {
        font-size: 48px !important;
    }
    h2 {
        font-size: 24px !important;
    }
    .header-img {
        display: none !important;
      }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    h1 {
        font-size: 48px !important;
    }
    h2 {
        font-size: 24px !important;
    }
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 

 }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { 
    
 }

 h1, h2 {
    font-family: 'Source Code Pro';
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 34px;
}

