<template>
  <div>
    <client-only placeholder="loading...">
      <Header />
      <NuxtPage />
    </client-only>
  </div>
</template>

<script>
import Header from "./components/header.vue"

export default defineComponent({
  setup() {
    useHead({
      title: 'Foto Verein Dresden Sued',
      viewport: 'width=device-width, initial-scale=1, maximum-scale=1',
      charset: 'utf-8',
      link: [
          { rel: "icon", type: "image/png", sizes: "32x32", href:"static/favIcon/favicon-32x32.png"},
          { rel: "icon", type: "image/png", sizes: "16x16", href:"static/favIcon/favicon-16x16.png"},
          { rel: "icon", type: "image/png", sizes: "32x32", href:"~/fotodd/static/favIcon/favicon-32x32.png"},
          { rel: "icon", type: "image/png", sizes: "16x16", href:"~/fotodd/static/favIcon/favicon-16x16.png"}
      ],
      meta: [
        { name: 'description', content: 'Ein fiktiver Verein' }
      ]
    })
  },
  name: 'Application',
  components: {
    Header
  }
})
</script>

<style lang="scss">
@import "scss/custom.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
</style>