<template>
<div>
    <h5 class="mb-4">{{ list.title }}</h5>
    <div class="list-group">
        <a :href="elm.link" v-for="(elm, index) in list.list" v-bind:key="index" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ elm.title }}</h5>
                <small class="text-muted">{{ elm.days + ' Tage'}}</small>
            </div>
            <p class="mb-1">{{ elm.desc }}</p>
            <small class="text-muted">{{ elm.source }}</small>
        </a>
    </div>
</div>
    
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
    name: 'card-list',
    props: ['list']
})
</script>

<style lang="scss" scoped>
h5 {
    text-align: right;
}
</style>