<template>
    <nav class="navbar bg-black bg-opacity-50 position-fixed">
        <div class="container-fluid justify-content-start">
            <NuxtLink class="navbar-brand float-start ms-3 text-white" to="/"><img src="/icons/icon_white.png" alt="" width="30" height="30"><span class="fs-6">FVDS e.V.</span></NuxtLink>
            <div>
                <NuxtLink class="nav-link float-start mx-3 text-white" to="/kurse">Kurse</NuxtLink>
                <NuxtLink class="nav-link float-start mx-3 text-white" to="/berichte">Berichte</NuxtLink>
            </div>
        </div>
    </nav>
</template>

<script>
export default defineComponent({
  name: 'Header'
})
</script>

<style lang="scss" scoped>
.navbar-brand {
   margin-top: -5px;
}
.navbar {
    width: 100vw;
    z-index: 10;
}
</style>