<template>
  <div class="container-fluid p-0">
  <img :src="'img/bilathal.jpg'" class="w-100 header-img"/>
  <div class="row gx-0 content-on-page">
    <div class="col-12 col-md-4 bg-brown">
      <h1 class="me-5 mt-5">Berichte</h1>
    </div>
    <div class="col-12 col-md-8 p-5 bg-light">
      <div class="row g-5">
        <div :href="elm.link" v-for="(elm, index) in berichteList" v-bind:key="index" class="col-lg-4 col-md-6 col-12">
          <div class="card">
            <img :src="elm.img" class="card-img-top" height="200" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{elm.title}}</h5>
              <p class="card-text">{{elm.tutor}}</p>
            </div>
            <div class="card-body">
              <a :href="elm.link" class="card-link">Zum Bericht</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
    data() {
      let berichteList = []
      const titles = [
        'Using 7 Tips Like The Pros',
        'How To Turn FOTO Into Success',
        'Everything You Wanted to Know',
        'FOTO Works Only Under These Conditions',
        '10 Tips That Will Make You Influential',
        'Short Story: The Truth About FOTO',
        'FOTO An Incredibly Easy Method',
        '5 Simple Steps To An Effective FOTO',
        'Why FOTO Is No Friend To Small Business',
        '10 Ways To Reinvent Your FOTO',
        'Best FOTO Android/iPhone Apps',
        'FOTO Is Crucial To Your Business',
        'What Alberto Savoia Can Teach You',
        '10 Secret Things You Didnt Know'
      ]
      const names = [
        'Olivia Petty',
        'Barrett Hensley',
        'Edmund Young',
        'Kris Francis',
        'Quintin Nash',
        'Kerry Hamilton',
        'Leonor Schroeder',
        'Natalia King',
        'Sol Spears'
      ]
      const imgList = [
        'img/Clara_2019_kl_Winterberg.jpg',
        'img/bilathal.jpg',
        'img/dresden_grosser_garten.jpg',
        'img/dresden_overview.jpg',
        'img/dresden_red_sky.jpg',
        'img/dresden_zschertnitz.jpg',
        'img/moritz_looking.jpg',
        'img/moritzburg.jpg'
      ]
      berichteList.push({ title: 'Bericht 1 - Ueberblick und Komposition', tutor: 'Max Mustermann', link: encodeURI('/bericht?header=Überbickt und Komposition'), img: 'img/Clara_2019_kl_Winterberg.jpg' })
      titles.forEach((title, index) => {
        berichteList.push({ title: 'Bericht ' + (index + 2) + ' - ' + title, tutor: names[Math.floor(Math.random() * 9)], link: encodeURI('/bericht?header=' + title), img: imgList[Math.floor(Math.random() * 8)] })
      })
      return {
        berichteList
      }
    }
})
</script>

<style lang="scss" scoped>
$brown: #bb864a;
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
   .bg-brown {
    padding-top: 3rem!important;
   }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
  h1 {
    margin: 1rem!important;
    text-align: left!important;
  }
  .card-list {
    margin: 1rem!important;
  }
}
a {
  color: $brown;
}
a:hover {
  color: black;
}
 .header-img {
  position: sticky;
  top: 0;
  z-index: 0;
}
.content-on-page {
  position: relative;
  z-index: 1;
}
h1 {
  text-align: right;
}
.card:hover {
    box-shadow: -2px 4px 8px 1px rgba(0, 0, 0, 0.308);
-webkit-box-shadow: -2px 4px 8px 1px rgba(0, 0, 0, 0.308);
-moz-box-shadow: -2px 4px 8px 1px rgba(0, 0, 0, 0.308);
}
.card-img-top {
  object-fit: cover;
}
.bg-brown {
  background-color: $brown;
  color: white;
}
</style>