<template>
<div class="container-fluid p-0">
  <img :src="'img/moritzburg.jpg'" class="w-100 header-img"/>
  <div class="row gx-0 content-on-page">
    <div class="col-12 col-md-4 col-lg-2 bg-white">
      <h1 class="me-5 mt-5">Der Verein</h1>
    </div>
    <div class="col-md-8 col-12 col-lg-10 bg-green rounded-start-bottom">
      <div class="row gx-0">
        <div class="col-md-12 col-12 col-lg-6 ms-5 mt-5 col-element">
          <h2 class="mb-4">Entstehung</h2>
          <p>{{ entstehungText }}</p>
        </div>
        <Cardlist :list="berichteList" class="col-md-12 col-lg-4 col-12 mx-auto card-list col-element" />
        <img class="col-4 col-md-12 col-lg-11 col-xl-4 ms-5 my-5 col-element inner_img" :src="'img/moritz_looking.jpg'" />
        <div class="col-6 col-md-12 col-lg-11 col-xl-6 ms-5 mt-5 col-element">
          <h2 class="mb-4">Ausblick</h2>
          <p>{{ ausblickText }}</p>
        </div>
          
      </div>
    </div>
  </div>
  <footer class="container p-4 text-green">
    <p class="float-start w-75">
      <span>
        @2022 - 
      </span>
      <span>
        Foto Verein Dresden Süd e.V. - 
      </span>
      <span>
        Musterstr. 1a, 
      </span>
      <span>
        01217 Dresden
      </span>
    </p>
    <a class="float-end text-green" href="#instagram">
      <i class="bi bi-instagram"></i>
    </a>
  </footer>
</div>
  
</template>

<script>
import { defineComponent } from 'vue'
import { Cardlist } from '~~/.nuxt/components'

export default defineComponent({
  data() {
    return {
      entstehungText: 'Die Entstehungsgeschichte dieses nicht exestierenenden Verein reicht sehr weit in die Vergangenheit. Die Idee des Vereines ist 2021 in dem Modul Medeniendesign 2 an der Technischen Hochschule Brandenburg von Nickt Hennig entstangen, als er für ein Gestaltungsprojektes einen Verein aus den Gedanken ziehen musste. Die Idee des Vereines ist, dass er monatlich ein Magazin herausbringt und dort für die einen Kurse wirbt. Ebenso versucht der Verein über Berichte in den Suchmaschienen für Aufmerksamkeit zu sorgen. Die Kurse sollen verbinden. Von einfachen wie halte ich eine Kamera bis zu geführeten Wandertouren bietet der Verein alles. Von Fotobebeisterten zu Fotobebeisterten. Ebenso sollen die vielfäkltigen Berichte für anregungen sorgen. Die Mitglieder können selbst Kurse auf die BEine stellen und allen Mitgliedern kostenlos und allen noch-nicht-Mitgliedern gegen einen kleinen Obulus genutzt werden. Welche Kurse es auf die Webseite schaffen und welche nicht werden von allen Mitgliedern in regelmäßigen Sitzungen bestimmt. Die Protokolle der Sitzungen kannst duch auch onlin abrufen fals du mal nicht da warst. Also los warum wartest du noch? Werde ein Teil unser kleinen Fotowelt hier im Dresdener Süden.',
      ausblickText: 'Der Ausblick! Wie in dem Bild zusehen, versuchen wir auch immer einen Ausblick in unserem Verein zu suchen. Was wollen wir in den kommenden Jahren erreichen, machen, planen, ... ? Unser Ziel ist es immer eine große auswahl an Kursen anbieten zu können. Deshalb haben wir uns auf die Fahne geschrieben mindestens 4 neue Kurs pro Jahr anzubieten. Eins in jedem Quatal. Dabei sollen die alten Seminare beibehalten werden. Die Anzahl und Termine der Kurse bestimmen wir ab dem ersten Jahr an den vorherigen Jahr. Welcher Kurs war beliebt welcher eher nicht so. Ebenso versuchen wir unsere Qualität der Berichte zu verbessern. Anfangs hatten wir noch einfach so darauf los geschrieben. Mitlerweile lassen wir unsere Mitglieder die interesse an dem Schreiben von Berichten, an Schulungen und Kurschen zu Jornalismuss und krestivem Schreiben teilnehmen. Ebenso versuchen wir neue Kurse erstmal nur an unseren eigenen Mitgliedern aus und warten die gesammelten Feedbacks ab bevor er für alle zurverfügung steht. Stück für Stück versuchen wir diesen fiktiven Verein weiter zu verbessern und das alles nur, damit hier kein Lorum-Text steht.',
      berichteList: {
        title: 'Magazin Juni 2021',
        list: [
          {
            title: 'Stadtfoto Tour',
            desc: 'Diese Tour begleitet dich durch die Gassen Dresden und bietet dir Architektur und Landschaftsfotografie',
            source: 'Magazin Juni 2021',
            days: 3,
            link: encodeURI('/kurs?header=Stadtfoto Tour')
          },
          {
            title: 'Überblick und Komposition',
            desc: 'Was muss ich im Motiv beachten? Wie ein Maler zeichen wir Fotos.',
            source: 'Magazin Juni 2021',
            days: 3,
            link: encodeURI('/bericht?header=Überbickt und Komposition')
          },
          {
            title: 'Low Light Fotografie',
            desc: 'Wie suche ich Licht im Dunklen und was muss ich beachten?',
            source: 'Magazin Juni 2021',
            days: 3,
            link: encodeURI('/kurs?header=Low Light Fotografie')
          },
          {
            title: 'Portrait Fotografie',
            desc: 'Chees! Bitte lächeln, oder wie war das nochmal?',
            source: 'Magazin Juni 2021',
            days: 3,
            link: encodeURI('/kurs?header=Portrait Fotografie')
          },
          {
            title: 'Wandertour',
            desc: 'Wandern über dem Nebelmeer und atemberaubende Natur festhalten.',
            source: 'Magazin Juni 2021',
            days: 3,
            link: encodeURI('/kurs?header=Wandertour')
          }
        ]
      } 
    }
  },
})
</script>

<style lang="scss" scoped>

$green: #4C635A;
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
   .container-fluid {
    padding-top: 3rem!important;
   }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
  h1 {
    margin: 1rem!important;
    text-align: left!important;
  }
  .card-list {
    margin: 1rem!important;
  }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
.col-element {
    margin: 1rem!important;
    width: calc(100% - 2rem)!important;
  }
 }
 .header-img {
  position: sticky;
  top: 0;
  z-index: 0;
}
.content-on-page {
  position: relative;
  z-index: 1;
}
.inner_img {
  widows: 100%;
  height: 100%;
  object-fit: scale-down;
}
h1 {
  color: $green;
  text-align: right;
}
.bg-green {
  background-color: $green;
  color: white;
}
.text-green {
  color: $green;
}
.rounded-start-bottom {
  border-radius: 0 0 0 1rem;
}
.card-list {
  margin-top: -10rem;
}
</style>