<template>
  <div class="container-fluid p-0">
  <img :src="'img/dresden_zschertnitz.jpg'" class="w-100 header-img"/>
  <div class="row gx-0 content-on-page">
    <div class="col-12 col-md-3 bg-green">
      <h1 class="me-5 mt-5">Kurse</h1>
    </div>
    <div class="col-12 col-md-9 p-5 bg-white">
      <ul class="list-group list-group-flush">
        <a :href="elm.link" v-for="(elm, index) in kursList" v-bind:key="index" class="list-group-item list-group-item-action">
          <p class="float-start my-2">{{ elm.title }}</p>
          <p class="float-end my-2"> {{ elm.tutor }}</p>
        </a>
      </ul>
    </div>
  </div>
</div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
    data() {
      let kursList = []
      const titles = [
        'Stadtfoto Tour',
        'Portait Fotografie',
        'Wandertour',
        'Architektur Fotografie',
        'Makro Fotos',
        'Analogfotos entwickeln',
        'Lightrooms',
        'Photoshop',
        'Fotos richtig drucken',
        'Kamers warten',
        'Einsteigerkurs',
        'Fortgeschrittenkurs',
        'ND Filter benutzten',
        'Tierfotografie'
      ]
      const names = [
        'Olivia Petty',
        'Barrett Hensley',
        'Edmund Young',
        'Kris Francis',
        'Quintin Nash',
        'Kerry Hamilton',
        'Leonor Schroeder',
        'Natalia King',
        'Sol Spears'
      ]
      kursList.push({ title: 'Low Light Fotografie', tutor: 'Max Mustermann', link: encodeURI('/kurs?header=Low Light Fotografie') })
      titles.forEach((title) => {
        kursList.push({ title, tutor: names[Math.floor(Math.random() * 9)], link: encodeURI('/kurs?header=' + title) })
      })
      return {
        kursList
      }
    }
})
</script>

<style lang="scss" scoped>
$green: #728A89;
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
   .bg-green {
    padding-top: 3rem!important;
   }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
  h1 {
    margin: 1rem!important;
    text-align: left!important;
  }
  .card-list {
    margin: 1rem!important;
  }
}
 .header-img {
  position: sticky;
  top: 0;
  z-index: 0;
}
.content-on-page {
  position: relative;
  z-index: 1;
}

h1 {
  text-align: right;
}
.bg-green {
  background-color: $green;
  color: white;
}
</style>