<template>
  <div class="container-fluid p-0">
    <div class="row gx-0">
      <div class="col-lg-3 col-12 bg-white">
        <h1 class="ms-5 mt-5">{{ getHeader }}</h1>
      </div>
      <div class="col-lg-9 col-12 p-5 bg-black text-white pb-5">
        <div class="row g-5">
          <div class="col-lg-3 show-on-smale">
            <h2 class="themenfeld-header mb-5">Themenfeld-Beschreibung</h2>
            <img :src="'img/dresden_grosser_garten.jpg'" class="w-100 mb-5"/>
            <p class="themen-text mb-0"> {{ themenfeldBeschreibung }} </p> 
          </div>
          <div class="col-lg-9">
            <h2 class="mb-5">Kursbeschreibung</h2>
            <p class="mb-5"> {{ kursBeschreibung }} </p> 
            <h2 class="mb-5">Was brauche ich?</h2>
            <ul class="list-group bg-transparent mb-5">
              <li class="list-group-item bg-transparent text-white">Fotoaperat mit manuellen Modus</li>
              <li class="list-group-item bg-transparent text-white">Stativ (optional, muss sich zur Not geteilt werden)</li>
              <li class="list-group-item bg-transparent text-white">Taschenlampe (optional, muss sich zur Not geteilt werden)</li>
            </ul>
            <h2 class="mb-5">Dauer?</h2>
            <p class="mb-5"> Planen sie bitte 4h ein. Genaues Zeitfenster wird Ihnen per Mail mitgeteilt, da wir erst nach dem Sonnenuntergang beginnen koennen </p> 
            <h2 class="mb-5">Wo findet es statt?</h2>
            <p>
              Auf der Albertbruecke Dresden - Altstadt
            </p>
            <iframe
              width='100%'
              height='400px'
              :src="getMapApiUrl"
              title="Location"
              style="border:none;"
              class="mb-5">
            </iframe>
          </div>
          <div class="col-lg-3 show-on-large">
            <h2 class="themenfeld-header mb-5">Themenfeld-Beschreibung</h2>
            <img :src="'img/dresden_grosser_garten.jpg'" class="w-100 mb-5"/>
            <p class="themen-text mb-0"> {{ themenfeldBeschreibung }} </p> 
          </div>
        </div>
      </div>
    </div>
      <div class="form bg-light rounded-top">
        <button class="btn btn-light w-100" type="button" v-on:click="changeShowForm()">
          <i v-if="showForm" class="bi bi-chevron-compact-down"></i>
          <i v-if="!showForm" class="bi bi-chevron-compact-up"></i>
          <p class="text-center mb-1">Termin buchen</p>
        </button>
        <div v-if="showForm && !sendReservation" class="row gx-3">
          <div class="p-3 col-md-6 col-12">
            <label for="email-input" class="form-label">E-Mail-Adresse:</label>
            <input id="email-input" type="email" v-model="email" class="form-control" placeholder="name@example.com">
          </div>
          <div class="p-3 col-md-6 col-12">
            <label for="termin-select" class="form-label">Termin:</label>
            <select id="termin-select" v-model="terminSelect" class="form-select" placeholder="Bitte Termin auswaehlen">
              <option v-for=" (termin, index) in terminList" v-bind:key="index" :value="termin">{{ termin }}</option>
            </select>
          </div>
          <div class="p-3 col-12">
            <button type="submit" v-on:click="submit()" class="btn btn-success w-100" :disabled="!isAllValid">Reservieren</button>
          </div>
          
        </div>
        <div v-if="showForm && sendReservation" class="reservation-status-div">
          <div v-if="reservationStatus" class="text-success">
            <i class="bi bi-calendar-check"></i>
            <p>Reservierung erfolgreich</p>
          </div>
          <div v-else class="text-danger">
            <i class="bi bi-calendar-x"></i>
            <p>Reservierung nicht erfolgreich</p>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
    data() {
      return {
        lorumText: 'But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.  But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure? On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.   But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.',
        valideEmail: null,
        valideTermin: '',
        isEmailvalid: false,
        isTerminValid: false,
        showForm: false,
        sendReservation: false,
        reservationStatus: false,
        themenfeldBeschreibung: 'In der Low Light Fotografie ist die schwierigkeit auch bei schlechten Lichtverhaeltnissen ein gestochenscharfes Foto hinzubekommen. Viel Licht kann jeder, doch wenn es damit mal eng wird, kommen die Probleme. Doch moderne digitalkameras bieten uns einige Stellschrauben um auch das zu meistern. Stative bringen uns stabilitaet bei laengernen Belichtungen und Iso werte reitzen das Maximum aus digitalen Kameras. Zusaetzliche Lichtquellen koennen fuer interesannte Lichtspiele wirken und Reflextionen die ganze Umgebung erstrahlen. Der Weg des Lichtes wirkt im Dunkel viel deutlicher.',
        kursBeschreibung: 'In dem Kurs geht es umd die Fotografie im Dunklen. Welche Ansaetze gibt es? Welche Hilfsmiitel kann ich nehmen? Wie nutze ich natuerliches Licht? Wie und Wann nutze ich ISO und Belichtungszeit? Und noch viel mehr Thmen werden in diesem Kurs behandelt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur libero id faucibus nisl tincidunt eget nullam non. Cras tincidunt lobortis feugiat vivamus at. In nisl nisi scelerisque eu. Quisque non tellus orci ac auctor. Ullamcorper malesuada proin libero nunc consequat interdum. Adipiscing enim eu turpis egestas pretium. Vulputate mi sit amet mauris commodo quis imperdiet. Porta nibh venenatis cras sed felis eget velit. Venenatis cras sed felis eget. Elit eget gravida cum sociis natoque. Ultricies integer quis auctor elit sed vulputate mi. Mattis enim ut tellus elementum sagittis. Feugiat in fermentum posuere urna nec tincidunt praesent semper. Mauris sit amet massa vitae tortor. Amet dictum sit amet justo donec. Pharetra diam sit amet nisl suscipit. Nisi quis eleifend quam adipiscing vitae proin sagittis. In pellentesque massa placerat duis ultricies lacus sed.',
        terminList: ['12.03.2022', '13.03.2022', '14.03.2022', '15.03.2022', '26.03.022', '30.06.2022']
      }
    },
    computed: {
        getHeader() {
          return decodeURI(this.$route.query.header)
        },
        isAllValid() {
          return this.isEmailvalid && this.isTerminValid
        },
        getMapApiUrl() {
          const style = 'styles/v1/vvelox/cj6nmjsn30v9d2ro56svjoc0g'
          const baseurl = 'https://api.mapbox.com/' + style + '.html?'
          const params = new URLSearchParams({
              title: false,
              access_token: 'pk.eyJ1IjoidnZlbG94IiwiYSI6ImNqNm5rZWpqYzA5ZWEzNG16cWQ0bzc5ZDkifQ.TrTGCLJwcVaItrZTdBWpVw',
              zoomwheel: false
            }).toString()
            const cornates = '#13.49/51.05319/13.74313'
            return baseurl + params + cornates
        },
        email: {
          get() {
            return this.valideEmail
          },
          set(email) {
            const inputField = document.getElementById('email-input')
            const res = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            if(res.test(String(email).toLowerCase())) {
              this.valideEmail = email
              this.isEmailvalid = true
              inputField.classList.remove('is-invalid')
              inputField.classList.add('is-valid')
            } else if(email === '') {
              this.valideEmail = email
              this.isEmailvalid = false
              inputField.classList.remove('is-valid')
              inputField.classList.remove('is-invalid')
            } else {
              this.isEmailvalid = false
              inputField.classList.remove('is-valid')
              inputField.classList.add('is-invalid')
            }
          }
        },
        terminSelect: {
          get() {
            return this.valideTermin
          },
          set(termin) {
            const selectField = document.getElementById('termin-select')
            if(this.terminList.includes(termin)){
              this.valideTermin = termin
              this.isTerminValid = true
              selectField.classList.remove('is-invalid')
              selectField.classList.add('is-valid')
            } else if(termin === '') {
              this.valideTermin = termin
              this.isTerminValid = false
              selectField.classList.remove('is-valid')
              selectField.classList.remove('is-invalid')
            } else {
              this.isTerminValid = false
              selectField.classList.remove('is-valid')
              selectField.classList.add('is-invalid')
            }
          }
        }
      },
      methods: {
        async submit() {
          if(this.isEmailvalid && this.isTerminValid) {
            const params = new URLSearchParams({
              email: this.valideEmail,
              termin: this.valideTermin,
              kurs: this.getHeader
            }).toString()
            const result = await $fetch('/api/submitTermin?' + params)
            this.sendReservation = true
            this.reservationStatus = result.valied
          }
        },
        changeShowForm() {
          this.showForm = this.showForm ? false : true
        }
      }
})

</script>

<style lang="scss" scoped>
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 991.98px) { 
   .themen-text {
      text-align: left !important;
    }
    .show-on-smale {
      display: block !important;
    }
    .show-on-large {
      display: none !important;
    }
 }
 @media (min-width: 991.98px) {
  .show-on-smale {
    display: none !important;
  }
  .show-on-large {
    h1 {
    position: sticky;
    top: 5rem;
    }

  }
 }
 h1, h2, h3 {
  overflow-wrap: break-word;
 }
.form {
  position: -webkit-sticky;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 79vw;
  position: fixed;
  bottom: 0;
  box-shadow: 1px -1px 38px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px -1px 38px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -1px 38px -4px rgba(0,0,0,0.75);
}
.reservation-status-div div {
  margin: auto;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  i, p {
    font-size: 24px;
    display: inline;
  }
  i {
    margin-right: 1rem;
  }
}
</style>